.f-roxo{
    font-family: Arial;

    background-color: rgb(158, 4, 158);
    width: 20px;
    border: 5px solid black ;
    
    text-align: center;
    padding: 20px;
    min-width: 150px;
}