h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.pagina {
    background-color: rgb(109, 4, 207);
    border: solid 10px;
    font-family: Arial, Helvetica, sans-serif;
}