.f-roxo{
    background-color: darkmagenta;
    border: 10px solid black ;
    
    overflow: auto;
    resize:horizontal;
    
    text-align: center;
    padding: 20px;
    min-width: 150px;
}