.f-roxo{
    font-family: Arial;

    background-color: darkmagenta;
    width: 300px ;
    padding: 50px;
    border: 5px black;
    box-sizing: content-box;
    
    text-align: center;
    padding: 20px;
    min-width: 150px;
}