.f-roxo{
    font-family: Arial, Helvetica, sans-serif;

    background-color: darkmagenta;
    border: 10px solid black ;
    
    text-align: center;
    padding: 20px;
    min-width: 150px;
}