.titulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
button{

    background-color: rgb(108, 3, 206);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    transition:all 0.3s ease;
}

body {

    background-color: rgb(59, 59, 59) !important;
    color:rgb(255, 255, 255);
}