h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center   
}
button{

    background-color: rgb(109, 4, 207);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
}